mulesoft-docgen/test_input/simple-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="simple-flowFlow" doc:id="123e4567-e89b-12d3-a456-426614174000">
        <http:listener config-ref="HTTP_Listener_config" path="/test" doc:name="HTTP /test" />
        <logger level="INFO" doc:name="Logger" message="Request received" />
        <set-payload value="Hello World!" doc:name="Set Payload" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="true"
                doc:name="On Error Continue">
                <set-payload value="Error occurred: #[error.description]" doc:name="Error Message" />
            </on-error-continue>
        </error-handler>
    </flow>
</mule> 